ZMK_MACRO(school_email, bindings = <&kp H &kp A &kp O &kp Q &kp I &kp N &kp G &kp N3 &kp AT &kp I &kp L &kp L &kp I &kp N &kp O &kp I &kp S &kp DOT &kp E &kp D &kp U>;)
ZMK_MACRO(live_email, bindings = <&kp Z &kp H &kp U &kp H &kp A &kp O &kp Q &kp I &kp N &kp G &kp AT &kp L &kp I &kp V &kp E &kp DOT &kp C &kp N>;)
ZMK_MACRO(i_email, bindings = <&kp I &kp AT &kp C &kp R &kp I &kp D &kp DOT &kp E &kp S>;)
ZMK_MACRO(uiuc, bindings = <&kp LS(U) &kp N &kp I &kp V &kp E &kp R &kp S &kp I &kp T &kp Y &kp SPACE &kp O &kp F &kp SPACE &kp LS(I) &kp L &kp L &kp I &kp N &kp O &kp I &kp S &kp CMMA &kp SPACE &kp LS(U) &kp R &kp B &kp A &kp N &kp A &kp MINUS &kp LS(C) &kp H &kp A &kp M &kp P &kp A &kp I &kp G &kp N>;)
ZMK_MACRO(phone, bindings = <&kp N2 &kp N1 &kp N7 &kp N9 &kp N0 &kp N4 &kp N8 &kp N2 &kp N0 &kp N0>;)
ZMK_MACRO(first_name, bindings = <&kp LS(H) &kp A &kp O &kp Q &kp I &kp N &kp G>;)
ZMK_MACRO(last_name, bindings = <&kp LS(Z) &kp H &kp U>;)
ZMK_MACRO(name, bindings = <&kp LS(H) &kp A &kp O &kp Q &kp I &kp N &kp G &kp SPACE &kp LS(Z) &kp H &kp U>;)
ZMK_MACRO(steve, bindings = <&kp LS(S) &kp T &kp E &kp V &kp E &kp N>;)
ZMK_MACRO(stvz, bindings = <&kp LS(S) &kp T &kp E &kp V &kp E &kp N &kp SPACE &kp LS(Z) &kp H &kp U>;)
